body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #3b5998
}

nav{
    width: 100%;
    position: fixed;
    margin: 0 auto;
    border-bottom: 1px solid #f0f0f0;
    height: 60px;
    background-color: white;
}

nav ul{
    /* width:100%; */
    max-width: 1000px;
    height: 100%;
    margin:0 auto;
    /* padding-left: 10px; */
    padding: 0;
    /* text-align:center; */
    font-family: Georgia, 'Times New Roman', Times, serif; 
    /* background-color: red; */
}
nav ul li { 
    display:inline-block;
    list-style:none;
    height: 100%;
    /* width:32%; */
    /* padding: 0 10px; */
    /* padding: 0 10px; */
    margin: 0 30px 0 0;
    /* background-color: seashell; */
    position: relative;
    /* border-radius: 10px 10px 10px 10px; */
}
nav ul li a {
    text-align:center;
    padding: 21px 10px;
    display:block;
    text-decoration: none;
    color: black;
    /* background-color: slategray; */
}

nav ul li ul {
    /* width: 100%; */
    display:none;
    position: absolute;
    padding: 0;
    /* background-color: khaki; */
    /* margin: 0 auto; */
    /* border-radius: 0px 0px 10px 10px; */
}

nav ul li ul li{
    /* width: 100%; */
    /* border-radius: 0px 0px 10px 10px; */
    background-color: white;
    /* padding: 0; */
    margin: 0;
}

nav ul li:hover { 
    /* background: lightcyan; */
    box-shadow: 0 2px 4px 0 lightgray;
}

.more {
    margin: 0;
}

.more:hover {
    /* background-color: lightblue; */
    /* border-radius: 10px 10px 0px 0px; */
    box-shadow: none;
}

.more:hover ul { 
    display: block;
    background-color: white;
    box-shadow: 2px 2px 4px 0 lightgrey;
}

.more ul li a{
    text-align: left;
}

.more ul li:hover {
    background-color: whitesmoke;
    box-shadow: 4px 0 4px 0 whitesmoke;
}

.aboutMe{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    /* width:100%; */
    padding-top: 150px;
    /* background-color: indianred; */
}

#about{
    width: 500px;
    margin: 0 0 0 auto;
    /* background-color: red; */
}

.contactIcon{
    /* margin: 0 0 0 18px; */
    /* background-color: khaki; */
    /* width: fit-content; */
    max-width: 400px;
    width: 70%;
    text-align: center;
    padding-top: 30px;
}

.contactIcon img{ 
    width: 15%;
    height: auto;
    margin: 0 3%;
}

.contactIcon img:hover{
    opacity: 0.77;
}

#avatar{
    /* float:left; */
    /* width: 500px; */
    /* width: 100%; */
    /* text-align: center; */
    width: 400px;
    /* background-color: green; */
}

#avatar img{
    max-width: 70%;
    border-radius: 50%;
}

/* #avatar a img {
    width: 40px;
    height: 40px;
    margin: 20px;
} */

/* main{
    padding-top: 30px;
} */

#about p {
    font-size: 16px;
    color: #5a5a5a;
    letter-spacing: 0;
    line-height: 1.8em;
}

#projects {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    color: #5a5a5a;
    letter-spacing: 0;
    line-height: 1.8em;
}

/* #projects p {
    margin-bottom: 8px;
} */

#projects ul , #projects p{
    margin: 8px auto;
}

.project-link {
    text-decoration: none;
}

.title {
    border-bottom: 1px solid rgb(192, 188, 188);
    width: fit-content;
}

#personal{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    color: #5a5a5a;
    letter-spacing: 0;
    line-height: 1.8em;
}

/* #personal h2 {
    border-bottom: 1px solid rgb(192, 188, 188);
    width: fit-content;
} */

footer {
    border-top: 1px solid #f0f0f0;
    /* display: flex; */
    /* max-width: 1000px; */
    /* margin: 0 auto; */
    /* justify-content: space-between; */
}

footer div{
    /* width: 500px; */
    /* text-align: left; */
    /* margin: auto; */
    display: flex;
    max-width: 1000px;
    color: #5a5a5a;
    /* padding: 0 20px; */
    margin: 0 auto;
    /* justify-content: space-between; */
    /* background-color: grey; */
}

footer div div {
    display: inline;
    /* background-color: red; */
    margin: 0;
    padding: 0;
    text-align: left;
}

footer div a {
    /* text-align: right; */
    margin: auto 0 auto auto;
    /* background-color: rosybrown; */
}
@media all and (max-width: 981px) {
    nav ul {
        padding-left: 10px;
    }

    #avatar{
        /* float:left; */
        margin: 20px auto;
        width: 400px;
        text-align: center;
    }

    #about{
        width: 100%;
        /* background-color: grey; */
        padding: 0 20px;
    }

    .contactIcon{
        margin: 0 auto;
    }

    #projects{
        padding: 0 20px;
    }

    #personal{
        padding: 0 20px;
    }

    footer div {
        padding: 0 20px;
    }
}

@media all and (max-width: 350px) {
    nav{
        display: none;
    }
}